body{
    -moz-user-select: none; 
    -webkit-user-select: none;
}

.game{
    display: flex;
    justify-content:space-around;
    flex-flow: row wrap;
    margin:auto;
    width: 420px;
    height: 420px;
}

.game__sign{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 33%;
    font-size: 100pt;    
    border: solid;
   
}

.score{
    display:flex;
    justify-content: center;
    font-size: 30px;
}

.score__players{
    margin:0px 10px 0px 10px;
}
.score__players.active{

    text-decoration: underline; 

}